version: '3'
services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: stsweng_db
      POSTGRES_USER: stsweng_user
      POSTGRES_PASSWORD: password
  server:
    build: ./server
    command: bash -c "yarn migrate-down && yarn migrate-up && yarn db-insert && node app"
    depends_on: 
      - db
    volumes:
      - ./opt/server:/server
    ports:
      - "5000:5000"
    environment:
      HOST: '0.0.0.0'
      NODE_ENV: development
      POSTGRES_USER: stsweng_user
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: stsweng_db
      JWT_SECRET: random_secret
  client:
    build: ./client
    command: yarn dev
    volumes:
      - ./opt/client:/client
    ports:
      - "3000:3000"
    environment:
      HOST: '0.0.0.0'
      SERVER_URL: http://localhost:5000
      