NODE_ENV=development

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=

JWT_SECRET=

EMAILER_EMAIL=rocket.sweng@gmail.com
EMAILER_PASS=Password1@
EMAILER_HOST=
EMAILER_PORT=